.online {
  display: flex;
  justify-content: center;
  background-color: #2B2A11;
  align-items: center;
  flex-direction: row;
}

.vote {
  display: flex;
  justify-content: center;
  background-color: #2B2A11;
  align-items: center;
  flex-direction: row;
}
